body {
    display: flex;
    justify-content: center;
    background-color: rgb(30, 30, 30);
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

#home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    width: 1000px;
    gap: 20px;
}

#home-container img {
    width: 80%;
}

#home-container button img {
    width: auto;
    height: 30px;
}

#home-container button {
    display: flex;
    color: aliceblue;
    justify-content: center;
    width: 400px;
    max-width: 90vw;
    min-width: 200px;
    gap: 20px;
    height: 50px;
    border-radius: 20px;
}
/* 
#play {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    width: 50%;
    color: aliceblue;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid aliceblue;
    transition: 0.3s;
} */

button:hover {
    transform: scale(1.05);
}

#game-container {
    display: none;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    padding: 15px;
    border-radius: 20px;
    border:  2px solid aliceblue;
}

#game-container span {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    padding: 0px 10px;
}

p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 2px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    
}


header p {
    width: 100px;
}

#container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 1000px;
    max-width: 90vw;
    min-width: 300px;
    height: 600px;
    gap: 5px;
    padding: 5px;
    border: 2px solid white;
}

#ball {
    display: flex;
    justify-self: center;
    position: absolute;
    background-color: aliceblue;
    width: 1rem;
    height: 1rem;
    border-radius: 20px;
    top: 600px;
}

#breaker { 
    display: flex;
    position: absolute;
    justify-self: center;
    background-color: aliceblue;
    border-radius: 20px;
    width: 120px;
    height: 12px;
    top: 700px;
}

#press-to-play {
    position: absolute;
    font-size: 2rem;
    top: 500px;
    width: 100%;
    justify-self: center;
   animation: fadeInOut 1s infinite;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.brick {
    background-color: aliceblue;
    z-index: 1;
}

#control {
    display: flex;
    justify-content: space-between;
}
#control div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#control div:nth-child(1) span {
    font-size: 1.2rem;
    color: aliceblue;
    font-weight: 500;
    margin-bottom: 10px;
}

#control div:nth-child(2) {
    display: flex;
    gap: 10px
}

button {
    all: unset;
    display: flex;
    align-items: center;
    border: 2px solid aliceblue;
    padding: 0px 5px;
    border-radius: 10px;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    background-color: rgba(240, 248, 255, 0.2);
}



#control img {
    height: 30px;
}

#pause-container {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    gap: 20px;
    backdrop-filter: blur(10px);
    z-index: 800;
}

#pause-container p:nth-child(1) {
    font-size: 5rem;
    margin-bottom: 20px;
}

#pause-container img {
    height: 30px;
}
#pause-container button {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    gap: 10px;

}

#final-game-container {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    gap: 20px;
    backdrop-filter: blur(10px);
    z-index: 801;
}

#final-game-container p:nth-child(1) {
    font-size: 4rem;
    width: auto;
    margin-bottom: 20px;
}

#final-game-container img {
    height: 30px;
}
#final-game-container button {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    gap: 10px;

}