body {
    display: flex;
    justify-content: center;
    background-color: rgb(40, 40, 40);
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    width: 1000px;
    height: 700px;
}

#home-container img {
    width: 100%;
}

#play {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    width: 50%;
    color: aliceblue;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid aliceblue;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}

#container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(16, 1fr);
    margin-top: 120px;
    width: 1000px;
    height: 700px;
    gap: 5px;
    padding: 5px;
    border: 1px solid white;
}

#ball {
    display: flex;
    justify-self: center;
    position: absolute;
    background-color: aliceblue;
    width: 1rem;
    height: 1rem;
    border-radius: 20px;
    top: 650px;
}

#breaker { 
    display: flex;
    position: absolute;
    justify-self: center;
    background-color: aliceblue;
    border-radius: 20px;
    width: 120px;
    height: 12px;
    top: 780px;
}

.brick {
    background-color: aliceblue;
}