body {
    display: flex;
    justify-content: center;
    background-color: rgb(40, 40, 40);
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

#home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    width: 1000px;
    height: 700px;
}

#home-container img {
    width: 100%;
}

#play {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    width: 50%;
    color: aliceblue;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid aliceblue;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}

#game {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    padding: 15px;
    border-radius: 20px;
    border:  2px solid aliceblue;
}

#game span {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    padding: 0px 10px;
}

p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 2px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    width: 100px;
}

#container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 1000px;
    height: 700px;
    gap: 5px;
    padding: 5px;
    border: 2px solid white;
}

#ball {
    display: flex;
    justify-self: center;
    position: absolute;
    background-color: aliceblue;
    width: 1rem;
    height: 1rem;
    border-radius: 20px;
    top: 650px;
}

#breaker { 
    display: flex;
    position: absolute;
    justify-self: center;
    background-color: aliceblue;
    border-radius: 20px;
    width: 120px;
    height: 12px;
    top: 780px;
}

.brick {
    background-color: aliceblue;
}

#control {
    display: flex;
    justify-content: space-between;
}
#control div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#control div:nth-child(1) span {
    font-size: 1.2rem;
    color: aliceblue;
    font-weight: 500;
    margin-bottom: 10px;
}

#control div:nth-child(2) {
    display: flex;
    gap: 10px
}

#control div:nth-child(2) button {
    all: unset;
    display: flex;
    align-items: center;
    border: 2px solid aliceblue;
    padding: 0px 5px;
    border-radius: 10px;
    transition: 0.3s;
}

#control div:nth-child(2) button:hover {
    transform: scale(1.05);
    background-color: rgba(240, 248, 255, 0.2);
}



#control img {
    height: 30px;
}