body {
    display: flex;
    justify-content: center;
    background-color: rgb(40, 40, 40);
}

#container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(16, 1fr);
    margin-top: 120px;
    width: 1000px;
    height: 700px;
    gap: 5px;
    padding: 5px;
    border: 1px solid white;
}

#ball {
    display: flex;
    justify-self: center;
    position: absolute;
    background-color: aliceblue;
    width: 1rem;
    height: 1rem;
    border-radius: 20px;
    top: 650px;
}

#breaker { 
    display: flex;
    position: absolute;
    justify-self: center;
    background-color: aliceblue;
    border-radius: 20px;
    width: 120px;
    height: 12px;
    top: 780px;
}

.break {
    background-color: aliceblue;
}